# Lists

Data Structure:

A data structure is a collection of data elements (such as numbers or charactersâ€”or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the "sequence".

-> List is one of the Sequence Data structure

-> Lists are collection of items (Strings, integers or even other lists)

-> Lists are enclosed in [ ]

-> Each item in the list has an assigned index value.

-> Each item in a list is separated by a comma

-> Lists are mutable, which means they can be changed.

## List Creation

In [3]:
empty_list = []          # creation of empty list

lst1 = ["one","Two","Three"]   # list of strings

lst2 = [1,2,3,4]                 # list of strings

lst3 = [[1,2] , [5,6]]             # list of list 

lst4 = [1, 2.4, "ashish", 24]       # list of different datatype

print("list of list : ", lst3)
print(lst4)

list of list :  [[1, 2], [5, 6]]
[1, 2.4, 'ashish', 24]

## List Length

In [5]:
lst = ["one","two","three","four"]

print(len(lst))           # len() function is used to print the len of list

4

## List Append

Syntax - lst.append()

In [11]:
lst = ["one","two","three","four"]

lst.append("7")    #append will add the iteam in the end
print(lst)

# here 7 is string

['one', 'two', 'three', 'four', '7']

## List Insert

Syntax :  lst.insert(x,y)
x -> is the position
y -> is the element to insert

In [15]:
lst = ["one","two","four"]

lst.insert(2, "Three")       # will add the element y at location of x
print(lst)

['one', 'two', 'Three', 'four']

## List Remove

syntax --> lst.remove(x)
in case "remove" is used to remove the 1st occurance of "x" in list

In [17]:
lst = ["one","two","three","four","two"]
lst.remove("two")                         
print(lst)

['one', 'three', 'four', 'two']

## List Append & Extend

Append -> in case append form the   "list of list" [...[..]] 
Extend -> in case extend form the "single whole list "

In [18]:
lst1 = ["one", "Two", "Three"]
lst2= [1,2,3]
# append

lst1.append(lst2)
print(lst1)

['one', 'Two', 'Three', [1, 2, 3]]

In [19]:
lst1 = ["one", "Two", "Three"]
lst2= [1,2,3]

# extend

lst1.extend(lst2)
print(lst1)

['one', 'Two', 'Three', 1, 2, 3]

## List Delete

 "del & pop "  -> both remove the item using the index position
 "remove"  -> in case no index value only the element name inside the list

In [31]:
lst1 = ["one", "Two", "Three", "four"]

del lst1[1]
print(lst1)

['one', 'Three', 'four']

In [32]:
# or we can use the "pop () "" method

a = lst1.pop(1)               # a is the pop element to remove
print(a)

print(lst1)

Three
['one', 'four']

In [33]:
lst1 = ["one", "Two", "Three","five","six"]

# remove an item from the list
lst1.remove("Three")
print(lst1)

['one', 'Two', 'five', 'six']

##  List related Keywords in Python

"in" --> used to test item in list

In [34]:
lst1 = ["one", "Two", "Three"]

if "Two" in lst1:
    print("hello ashish")
    
# "not in "

if "four" not in lst1:
    print("jello apni zindagi")

hello ashish
jello apni zindagi

## List Reverse

In [35]:
lst1 = ["one", "Two", "Three"]

lst1.reverse()
print(lst1)

['Three', 'Two', 'one']

## List Sorting

Sorted(list)

The easiest way to sort a List is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order.

**The original list is not changed.**

The sorted() optional argument reverse=True, e.g. sorted(list, reverse=True), makes it sort backwards.

original list is not changed
and 
sorted(list, reverse= True) # backward sort


*  lst.sort() ----> in case change is store in itself
*  sorted(lst) ----> in case change is store by creating a new element

In [37]:
# creating the list with no.

numbers= [3,2,5,6,7,8,1]

# print(sorted(numbers))

sorted_lst = sorted(numbers)
print("sorted list : ", sorted_lst)

# original list remain unchange
print("Original list :",numbers)

sorted list :  [1, 2, 3, 5, 6, 7, 8]
Original list : [3, 2, 5, 6, 7, 8, 1]

In [39]:
# Print list in reverse sorted order

print("Reverse the sorted list: ", sorted(numbers, reverse=True))

# original list
print("Original list : ",numbers)

Reverse the sorted list:  [8, 7, 6, 5, 3, 2, 1]
Original list :  [3, 2, 5, 6, 7, 8, 1]

Sort the list and stored in itself ----> " lst.sort() "

In [42]:
lst = [1,20,1.5,13,1.4]

lst.sort()

print("Sorted list : ",lst)

Sorted list :  [1, 1.4, 1.5, 13, 20]

In [43]:
lst = [1,20,1.5,"a",13,1.4,"b"]

print(lst.sort())          # sort element contain str element

TypeError: '<' not supported between instances of 'str' and 'float'

## List Having Multiple References

In [1]:
lst = [1,2,3,4,5]
abc = lst
abc.append(6)

# print the original list
print("Original List : ",lst)
print("referal list :",abc)

Original List :  [1, 2, 3, 4, 5, 6]
referal list : [1, 2, 3, 4, 5, 6]

In case of reference if any of change it impact the original one .

in case :-  lst and abc share the same memory location

## String Split to create a list

In [23]:
# let's take a string
# split create the list in output

a="hello my name is ashish"
stsp=a.split()              # in case split use default whitspace to split  --> split()     
print(stsp)

['hello', 'my', 'name', 'is', 'ashish']

In [24]:
a = "ashish,nanu,yuvi,dev,kunsa"
stsp=a.split(',')                      # in case split(',') it give arg that split b/w comma
print(stsp)

['ashish', 'nanu', 'yuvi', 'dev', 'kunsa']

In [27]:
s = "hello-ashish-nanu-dev-yuvi"

# in case split the string by passing the arg in b/w ---> -
split_lst = s.split('-')
print(split_lst)

['hello', 'ashish', 'nanu', 'dev', 'yuvi']

## List Indexing

Each item in the list has an assigned index value starting from 0.

Accessing elements in a list is called indexing.

In [29]:
lst = [2,5,9,7,4]
print(lst[2])         # print the third element in list with index value 2

print(lst[-2])         # print the last second element

9
7

## List Slicing

Accessing parts of segments is called slicing.

The key point to remember is that the :end value represents the first value that is not in the selected slice.

In [30]:
numbers = [10,20,30,40,50,60,70,80,90]

# print all the number
print(numbers[:])

# print from index 0 to 4
print(numbers[0:5])

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50]

In [33]:
# print the alternate element in list
print(numbers[::2])

# print element start from 2 element and alternate through rest of the list
print(numbers[1::2])

[10, 30, 50, 70, 90]
[20, 40, 60, 80]

##  List extend using "+"

In case "+" used for --> add 2 or more than 2 list and make single list

In [2]:
lst1=[1,2,3,4,5]
lst2=["ashish","nanu","yuvi","dev","kunsa"]
new_lst= lst1+lst2
print(new_lst)
print(lst1)

[1, 2, 3, 4, 5, 'ashish', 'nanu', 'yuvi', 'dev', 'kunsa']
[1, 2, 3, 4, 5]

## List Count

How many time the element occurs in the list

In [37]:
numbers = [1,2,3,4,2,1,3,5,2,4,3,1,5]

# frequency of 2 in a list
print(numbers.count(2))

# frequency of 5 in a list
print(numbers.count(5))

3
2

##  List Looping

In [40]:
# in case convert the string into list and then loop through a list


a = "ashish,nanu,yuvi,dev,kunsa"
lst= a.split(",")
print(lst)

for ele in lst:
    print(ele)

['ashish', 'nanu', 'yuvi', 'dev', 'kunsa']
ashish
nanu
yuvi
dev
kunsa

## List Comprehensions

List comprehensions provide a concise way to create lists.

Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [7]:
# without the list comprehension
squares = []
for i in range(10):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
# Using the List Comprehension

squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
# example

lst = [-1,-20,10,20,50]

# create the new list with value double
double = [i*2 for i in lst]
print(double)

#filter th list to exclude negative numbers

positive_lst = [i for i in lst if i>0]
print(positive_lst)

# create a list of tuple like (number , square_of_number)

lst_tuple = [(i, i**2) for i in range(10)]
print(lst_tuple)

[-2, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

## Nested list Cpmprehensions

In [50]:
# let's suppose we have matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension

transpose = []
for i in range(4):
    lst=[]
    for row in matrix:
        lst.append(row[i])
    transpose.append(lst)

print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [52]:
# with list Comprehension

transpose = [[row[i] for row in matrix] for i in range(4)]
print(transpose)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# Tuple

-> A tuple is similar to list

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

## Tuple Creation

In [1]:
# empty tuple
t=()

#tuple having integer
t = (1,2,3)
print(t)

#tuple with mixed datatypes
t= (1,"ashish",4.5)
print(t)

# nested tuple
t = (1,("nanu","yuvi","dev"),2,3,[1,"ashish","kunsa"])
print(t)

(1, 2, 3)
(1, 'ashish', 4.5)
(1, ('nanu', 'yuvi', 'dev'), 2, 3, [1, 'ashish', 'kunsa'])

In case when the "single element" in tuple ---> only parenthesis is not enough 

"Comma" at the end also require

In [3]:
# only parenthesis for single element
s = ("ashish")
print(type(s))       # in case it show the class of "str"

<class 'str'>

In [4]:
# Comma at end
s= ("ashish",)
print(type(s))         # in case it show the class of "tuple"

<class 'tuple'>

In [6]:
# Parenthesis is optional for "single element" at last "comma" is require

a= "ashish",
print(type(a))

print(a)

<class 'tuple'>
('ashish',)

## Accessing the element in Tuple

In [7]:
a = ("ashish","nanu","dev","yuvi","kunsa")

print(a[1])

nanu

In [9]:
print(a[-1])

kunsa

In [11]:
# nested tuple
t = (1,("nanu","yuvi","dev"),2,3,[1,"ashish","kunsa"])
print(t[1])
print(t[4])

('nanu', 'yuvi', 'dev')
[1, 'ashish', 'kunsa']

In [12]:
print(t[1][2])

dev

In [18]:
# Slicing

a=(9,8,7,6,5,4,3,2,1)

print(a[2:5])


# Printing the element in the list -- "reverse order" 


print("print in reverse order ")
print(a[-2::-1])

(7, 6, 5)
print in reverse order
(2, 3, 4, 5, 6, 7, 8, 9)

Tuple are immutable 

but in "nested tuple" :- Element in "list" inside the tuple is changes

In [20]:
t = (1,("nanu","yuvi","dev"),2,3,[1,"ashish","kunsa"])
t[2]= "a"
print(t)          # type error

TypeError: 'tuple' object does not support item assignment

In [22]:
# but in "nested tuple" :- Element in "list" inside the tuple is changes 

t = (1,("nanu","yuvi","dev"),2,3,[1,"ashish","kunsa"])
t[4][0] = "Kanu"
print (t)

(1, ('nanu', 'yuvi', 'dev'), 2, 3, ['Kanu', 'ashish', 'kunsa'])

In [26]:
# Concatination tuple

a = (1,2,3)+ (4,5,6)
print(a)

(1, 2, 3, 4, 5, 6)

can only concatenate tuple (not "list") to tuple

In [28]:
c = a+[7,8,9]
print(c)

TypeError: can only concatenate tuple (not "list") to tuple

In [11]:
# repeatation of element in the tuple 

a= (4,5)*2
print(a)

(4, 5, 4, 5)

## Tuple Deletion --- "del"

In [33]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t
print(t)

NameError: name 't' is not defined

## Tuple Count ---> .count()

In [34]:
a= (1,2,3,1,5,3,2,4,2,1,5)
print(a.count(2))
print(a.count(5))

3
2

## Tuple Index --> .index()

In [35]:
a= (1,2,3,1,5,3,2,4,2,1,5)

print(a.index(3))  # return index of "first element" is equal to 3

2

## Tuple Memebership  ----> " in "

In [37]:
# test if an item exists in a tuple or not, using keyword "in"

a = (1,2,3,5,6)
print(2 in a)

# 4 is not in tuple 

print(4 in a)

True
False

## Built in Function

### Tuple Length    ---> len()

In [38]:
t=(1,2,3,5,9,7)
print(len(t))

6

### Tuple Sort  ----> sorted()

does not sort the tuple itself -----> "t.sort"  --error

In [39]:
t = (5,2,6,8,9,4,2,3)
t.sort()
print(t)

AttributeError: 'tuple' object has no attribute 'sort'

In [40]:
a=sorted(t)
print(a)

[2, 2, 3, 4, 5, 6, 8, 9]

###  Max , Min ,Sum .. etc

In [41]:
# get the largest element in a tuple

t = (4,5,2,8,10,3,7)
print(max(t))

10

In [43]:
# get the min element in tuple

print(min(t))

2

In [44]:
# get the sum of " all " element in the tuple

print(sum(t))

39

# Sets

-> A set is an " unordered collection " of items. 

**->Every element is " unique (no duplicates) " .

**-> The set itself is " mutable ". We can add or remove items from it.

-> Sets can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

##  Set Creation

In [46]:
# set of integers
s = {1,2,3}
print(s)

# print type of s
print(type(s))

{1, 2, 3}
<class 'set'>

In [47]:
# set doesn't allow " duplicates ". They store only one instance

a = {1,2,3,1,2,2,1}
print(a)

{1, 2, 3}

In [48]:
# we can make set from a list
s = set([1,2,3])
print(s)

{1, 2, 3}

In [53]:
# initialize a set with set () method

s = set()                 # creating empty set
print(type(s))

<class 'set'>

In [56]:
# we can also make set from a tuple

s = set((1,2,3))
print(type(s))
print(s)

<class 'set'>
{1, 2, 3}

## Add element to a Set

.add() --->     for adding the "Single element" 
.update() --->  for adding the "multiple element"

# set object  "does't support Indexing"

In [57]:
s={4,5,3,1,2}

print(s[2])   # does't support indexing

TypeError: 'set' object is not subscriptable

In [58]:
# add element
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

In [60]:
# add multiple element
s.update([9,10,12])
print(s)

{1, 2, 3, 4, 5, 6, 9, 10, 12}

In [61]:
# add "list and set

s.update([12,15,11],{16,17,18})
print(s)

{1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 15, 16, 17, 18}

## Remove Elements from a set

1) discard() --  Not showing any error and move to next step
2) remove()  -- "keyerror"

Note :- key diff b/w both is if element is "not present" in the set 

--->  Remove iteam using   " .pop() "

3) pop() :- remove the "random" single item in set

4) clear()  :- "remove all item" in set using clear() method

In [66]:
s = {1,2,5,6,4}
print(s)

s.discard(4)

print("Removing the value : 4")
print(s)

{1, 2, 4, 5, 6}
Removing the value : 4
{1, 2, 5, 6}

In [67]:
# removig an element

s.remove(2)
print("Removing the value : 2")
print(s)

Removing the value : 2
{1, 5, 6}

In [68]:
# remove an element not present in set s

s.remove(7)   # Element not present --- "Key error"

KeyError: 7

In [70]:
s.discard(7)           # Discard not showing error
print(s)

{1, 5, 6}

In [71]:
# pop()

s= {1,5,2,3,6,4}

s.pop() # remove random element
print(s)

{2, 3, 4, 5, 6}

In [72]:
s.pop()
print(s)

{3, 4, 5, 6}

In [73]:
# Clear

s = {1,5,2,3,6}

s.clear()          # remove all items in set using clear() method
print(s)

set()

## Python Set Operations

1) union :-              (set1 | set2)    or  (set1.union(set2))
2) intersection :-       (set1 & set2)    or  (set1.intersection(set2))
3) difference :-         (set1 - set2)    or  (set1.difference(set2))
4) symmetric_difference:-(set1 ^ set2)    or  (set1.symmetric_difference(set2))
5) issubset() :-         ( .issubset())

In [89]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# union of 2 set

print("union : ", set1 | set2)

union :  {1, 2, 3, 4, 5, 6, 7}

In [90]:
# another way of getting union of 2 sets
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [91]:
# intersection
print(" Intersection : ",set1 & set2)

 Intersection :  {3, 4, 5}

In [84]:
# another way of " intersection"
print(set1.intersection(set2))

{3, 4, 5}

In [92]:
# Set Difference
print("set difference: ", set1-set2)

set difference:  {1, 2}

In [86]:
print(set2-set1)

{6, 7}

In [87]:
# another way 

print(set1.difference(set2))

{1, 2}

In [93]:
# Symmetric Difference 
""" set of elements in both set1 and set2 
except those that are common in both. """

# use ^
print("symmetric difference: ",set1^set2)

symmetric difference:  {1, 2, 6, 7}

In [95]:
# issubset()
x = {"a","b","c","d","e"}
y = {"c","d"}

print("set 'x' is subset of 'y' : ",x.issubset(y))

print("set 'y' is subset of 'x':  ",y.issubset(x))

set 'x' is subset of 'y' :  False
set 'y' is subset of 'x'  True

## Frozen Sets

Frozen sets has the characteristics of sets, but we can't be changed once it's assigned. While tuple are immutable lists, frozen sets are "immutable sets"

Frozensets can be created using the function frozenset()

Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [96]:
set1= frozenset([1,2,3,4])
set2= frozenset([3,4,5,6])

# try to add element into set1 ----> "Error"
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

** To add element into set1 ----> "Error"
** Frozen set doesn't support indexing

In [98]:
print(set1[2])

TypeError: 'frozenset' object is not subscriptable

In [99]:
# union

print(set1 | set2)

frozenset({1, 2, 3, 4, 5, 6})

In [100]:
# intersection 

print(set1 & set2)

frozenset({3, 4})

In [101]:
# symmetric difference

print(set1 ^ set2)

frozenset({1, 2, 5, 6})

# Dictionary

Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

dict -> "Unordered" .
key : value .
mixed key possible of different data type.
Hash table -> dict work as hash table in python

## Dict Creation ---->          dict()

In [12]:
# empty dict
my_dict = {}

# dictionary with integer keys
my_dict = {1:"abc", 2:"xyz"}
print(my_dict)

# dictionary with mixed keys

my_dict = {"name":"ashish", 74:["abc","xyz"]}
print(my_dict)

#create empty dictionary using dict()
my_dict = dict()
print(my_dict)

{1: 'abc', 2: 'xyz'}
{'name': 'ashish', 74: ['abc', 'xyz']}
{}
{1: 'abc', 2: 'xyz'}

In [13]:
# create the dict with " list of tuple "

my_dict = dict([(1,"abc"),(2,"xyz") ])  
print(my_dict)

{1: 'abc', 2: 'xyz'}

## Dict Access

In [15]:
my_dict = {"name":"ashish","age":22,"address":"Udaipur"}

# get name
print(my_dict["name"])

ashish

In [16]:
# if key is not present it gives keyerror

print(my_dict["degree"])

KeyError: 'degree'

.get()  --> use to get value. if key element is not present then it not show Error it show only "none"

In [17]:
# another way of accessing key

print(my_dict.get("address"))

Udaipur

In [18]:
print(my_dict.get("degree"))

None

## Dict Add or Modify Element

In [21]:
my_dict = {"name":"ashish","age":22,"address":"Udaipur"}

# update address

my_dict["address"]="India"
print(my_dict)

{'name': 'ashish', 'age': 22, 'address': 'India'}

In [25]:
# Add new element

my_dict["degree"] = "B.Tech"  

print(my_dict)

{'name': 'ashish', 'age': 22, 'address': 'India', 'degree': 'B.Tech'}

## Dict Delete or Remove Element

** dict_name.popitem()      -->    remove/delete "any key" from dict
** dict_name.pop(key)   -->    passing the key it will delete that key only

** dict_name.clear()-->  .clear()  it will clear or delete full dict.

del dict_name[key] ---> it will delete the key from the dictionary

**del dict_name---->" whole dict  is delete with dict_name" --Error---NameError

In [36]:
my_dict = {"name":"ashish","age":22,"address":"Udaipur","degree":"BTech"}

# remove a particuluar item

my_dict.pop("age")

print(my_dict)

{'name': 'ashish', 'address': 'Udaipur', 'degree': 'BTech'}

In [37]:
my_dict = {"name":"ashish","age":22,"address":"Udaipur"}

# remove an arbitarty key

my_dict.popitem()
print(my_dict)

{'name': 'ashish', 'age': 22}

In [38]:
# "del"  -> for particular key

squares = {2:4,3:9,4:16,5:25}

del squares[2]
print(squares)

{3: 9, 4: 16, 5: 25}

In [39]:
# " clear()" --> remove all items

squares.clear()

print(squares)

{}

In [40]:
squares = {2:4,3:9,4:16,5:25}

# delete dictionary itself

del squares
print(squares)      # NameError because dict is deleted

NameError: name 'squares' is not defined

## Dictionary Methods

1) copy()  -->             copy the whole dictionary
2) fromkeys [seq[,v]] --> return new dict with keys from seq and values
3) .items()  --->         return a new view of dict (key,values)            ---- list of tuples
4) .key() --->            return all key values
5) .values() --->         return all values
6) dir()     ---->        list of all available method and attribute of dict

In [13]:
# 1) copy()

squares ={2:4,3:9,4:16,5:25}

my_dict = squares.copy()
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [5]:
# 2) fromkeys [seq[,v]]

subjects ={}.fromkeys(["maths" , "english", "hindi"],0)    # v contian only one elemnt
print(subjects)

{'maths': 0, 'english': 0, 'hindi': 0}

In [14]:
# .items () ---> (key,value) in particular list

squares ={2:4,3:9,4:16,5:25}
print(squares.items())

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [15]:
#.keys()

squares ={2:4,3:9,4:16,5:25}
print(squares.keys())

dict_keys([2, 3, 4, 5])

In [16]:
#.values()

squares ={2:4,3:9,4:16,5:25}
print(squares.values())

dict_values([4, 9, 16, 25])

In [17]:
# dir()

d={}
print(dir())

['In', 'Out', '_', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'd', 'exit', 'get_ipython', 'my_dict', 'pair', 'quit', 'squares', 'subjects']

## Dict Comprehension

In [19]:
# dict comprehensions are just like comprehension but for dictionary

d = {"a":1,"b":2,"c":3}
for pair in d.items():
        print(pair)

('a', 1)
('b', 2)
('c', 3)

In [21]:
# creating a new dictionary with only pairs where the value is larger than 2
d = {"a":1,"b":2,"c":3,"d":4,"e":5}
new_dict={k:v for k,v in d.items() if v>2}
print(new_dict)

{'c': 3, 'd': 4, 'e': 5}

In [22]:
# we can also perform operations on the key value pairs

d = {"a":1,"b":2,"c":3,"d":4,"e":5}
d= {k+"c" :v*2 for k,v in d.items() if v>2}
print(d)

{'cc': 6, 'dc': 8, 'ec': 10}

# Strings

Python , string is a sequence of Unicode character.

string are "immutable"

A string is a sequence of characters.

Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.

This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encoding used.

In Python, string is a sequence of Unicode character.

## How to create a strings?

Strings can be created by enclosing characters inside a single quote or double quotes.

Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [24]:
myString = 'hello ashish'
print(myString)

myStr2 = "or kese ho aap sab "
print(myStr2)

myStr3 = """ sab badiya h ya nahi """
print(myStr3)

hello ashish
or kese ho aap sab
 sab badiya h ya nahi

## How to access characters in a string?

We can access individual characters using indexing and a range of characters using slicing.

Index starts from 0.

Trying to access a character out of index range will raise an IndexError.

The index must be an integer. We can't use float or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

In [26]:
myStr = "hello friend "
print(myStr[0])             # access first char

# access last 2nd char
print(myStr[-2])

# Slicing 2nd to 10 char
print(myStr[1:11])

h
d
ello frien

 we can't access index value "out of range "          ----- Error output
 we can't access index value using "decimal number"

## How to change or delete  a string ?

Strings are immutable. This means that elements of a string cannot be changed once it has been assigned.

We can simply reassign different strings to the same name.

In [27]:
myStr = "cello"
myStr[0] = "H"        # string are immutable

TypeError: 'str' object does not support item assignment

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the keyword "del" .

In [28]:
del myStr     # delete complete string

In [29]:
print(myStr)

NameError: name 'myStr' is not defined

## String Operations

### concatenation

Joining of two or more strings into a single one is called concatenation.

The + operator does this in Python. Simply writing two string literals together also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [37]:
str1 = "hello "
str2 = "ashish"
str3 = " how are you"
# concatenation 
print( str1 + str2 + "," + str3)

hello ashish, how are you

### Iterating Through String

In [38]:
count = 0
for a in "hello world":
    if a =="o" :
        count += 1
print(count, "letters found")

2 letters found

### String Membership Test  -  "in"

In [39]:
print("l" in "hello world")

True

In [44]:
print("or" not in "hello world")            # "or" in world

False

In [45]:
print("H" in "hello world")     # here "h" is capital

False

## String Method

Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace() etc

In [46]:
# lower()
"ashish".lower()

'ashish'

In [47]:
# upper()
"ashish".upper()

'ASHISH'

In [61]:
# split()
"this will split all worlds in a list ".split()

['this', 'will', 'split', 'all', 'worlds', 'in', 'a', 'list']

In [62]:
# "".join([])

" ".join(['this', 'will', 'split', 'all', 'worlds', 'in', 'a', 'list'])

'this will split all worlds in a list'

In [65]:
" , ".join(['this', 'will', 'split', 'all', 'worlds', 'in', 'a', 'list'])

'this , will , split , all , worlds , in , a , list'

In [66]:
" - ".join(['this', 'will', 'split', 'all', 'worlds', 'in', 'a', 'list'])

'this - will - split - all - worlds - in - a - list'

In [67]:
# find()
"Good Morning ".find("Mo")

5

In [54]:
"Good Morning ".find("mo")   # m is smaller and in "Morning" -- o/p -1

-1

In [68]:
# .replace()

s1= "Bad Morning"
s2= s1.replace("Bad","Good")
print(s1)
print("Bad is convert into Good")
print(s2)

Bad Morning
Bad is convert into Good
Good Morning

### Python Program to check where a string is Palindrome or not ?

In [70]:
myStr = "Madam"

# convert entrie string to either lower or upper 
myStr = myStr.lower()

# reverse the string
revStr = reversed(myStr)

# check if string is equal to reverse string
if list(myStr) == list(revStr):
    print("Given String is Palindrome")
else:
    print("Given string is not Palindrome")

Given String is Palindrome

### Python Program to sort words in Alphabetic order?

In [76]:
myStr = "Python Program to sort words in alphabetic order"

# breakdown the string into list of word
words = myStr.split()

# sort the list
words.sort()

# print sorted 
#print(words)

for word in words:
    print(word)

Program
Python
alphabetic
in
order
sort
to
words

In [77]:
myStr = "Python Program to Sort words in Alphabetic Order"

#breakdown the string into list of words
words = myStr.split()

#sort the list
words.sort()

#print Sorted words are
for word in words:
    print(word)

Alphabetic
Order
Program
Python
Sort
in
to
words

In [78]:
# in case string contain lower or upper make not same