In [2]:
import keyword
print (keyword.kwlist)
print("\n total number of keyword :" , len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 total number of keyword : 35

In [4]:
def double(num):
    return 2*num
a= int(input("enter the number to double : "))
print(double(a))

enter the number to double : 5
10

In [5]:
for i in range (10):
    print(i)
    print(i*2)
print("100")

0
0
1
2
2
4
3
6
4
8
5
10
6
12
7
14
8
16
9
18
100

In [6]:
a,b,c,d = 5,7,2,9

In [7]:
a

5

In [8]:
d

9

In [9]:
e

NameError: name 'e' is not defined

In [10]:
print(id(c))

94433859769120

In [11]:
t=2

In [12]:
print(id(t))

94433859769120

t and c share the same memory location

In [14]:
a= "this practice of python in arcgate"

In [15]:
a[5]

'p'

In [16]:
a[5::2]

'patc fpto nacae'

In [17]:
a=[25,2.5,"helo",False]

In [22]:
for i in a:
    print(i*2)

50
5.0
helohelo
0

In [27]:
b=set(a)
print(type(b),b)

<class 'set'> {False, 25, 2.5, 'helo'}

In [28]:
d={"a":"apple","b":25,"c":2.5}

In [31]:
print(d["c"])

2.5

key value access only

key value access only

In [33]:
## Formatting
a=20;b=50.25;c="helo"

In [35]:
print("hello there is example of formatting in case int {0}, string is{2}, and float is {1}".format(a,b,c))

hello there is example of formatting in case int 20, string ishelo, and float is 50.25

In [36]:
a=int(input("enter the nu. : "))
b=int(input("enter the nu2 : "))
c=int(input("enter the num 3: "))
if(a>b) & (b>c):
    largest = a
elif (b>a) & (a>c):
    largest = b
else:
    largest=c
print("largest element : {} ".format(largest))

enter the nu. : 5
enter the nu2 : 6
enter the num 3: 7
largest element : 7

In [38]:
# while loop
l=[5,6,4,25,5]

product=1
index=0

while index<len(l):
    product *=l[index]
    index +=1
print("total : {}".format(product))

total : 15000

In [39]:
print(l)

[5, 6, 4, 25, 5]

In [44]:
#prime no.

num=int(input("enter the no: "))
isDivisible = False;

i=2;
while i<num:
    if num%i==0:
        isDivisible= True;
        print("{} is divisible by {} ".format(num,i))
    i=i+1
    
if isDivisible:
    print("no. is not prime no. ")
else:
    print("the no. is priime no. ")

enter the no: 15
15 is divisible by 3
15 is divisible by 5
no. is not prime no.

In [45]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
for x in range(30,40,2):
    print(x)

30
32
34
36
38

In [47]:
lst = ["ashish","nanu","yuvi","dev","kunsa"]
for index in range(len(lst)):
    print(lst[index])

ashish
nanu
yuvi
dev
kunsa

In [51]:
for index in lst:
    print()

TypeError: 'int' object is not subscriptable

Break and continue

LIST

In [3]:
lst =[1,3,5,3,56,34]
lst.append(7)
lst

[1, 3, 5, 3, 56, 34, 7]

In [5]:
lst2=["a","b","c","d"]
new_list=lst+lst2
print(new_list)

[1, 3, 5, 3, 56, 34, 7, 'a', 'b', 'c', 'd']

# function

In [6]:
def print_name(name):
    print("hello "+str(name))

In [9]:
print_name("ashish")

hello ashish

In [10]:
def get_sum(lst):
    sum=0

    for num in lst:
        sum += num
    return(sum)

In [11]:
get_sum([5,6,1,2,3])

17